<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169871664069-sj17ood4rp3e2rrp98i0v8eq275ajtba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169871664069-sj17ood4rp3e2rrp98i0v8eq275ajtba</string>
	<key>API_KEY</key>
	<string>AIzaSyArsaelfh94TEG2HejpmbsWn4QQm00VwD0</string>
	<key>GCM_SENDER_ID</key>
	<string>169871664069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>redroostertech.DadHive</string>
	<key>PROJECT_ID</key>
	<string>dadhive-cc6f5</string>
	<key>STORAGE_BUCKET</key>
	<string>dadhive-cc6f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169871664069:ios:938a8766327ca760</string>
	<key>DATABASE_URL</key>
	<string>https://dadhive-cc6f5.firebaseio.com</string>
</dict>
</plist>